{
	"by ID" =
	(
		"Air",
		"Stone",
		"Grass",
		"Dirt",
		"Cobblestone",
		"Wooden planks",
		"Sapling",
		"Bedrock",
		"Flowing water",
		"Stationary water",
		"Flowing lava",
		"Stationary lava",
		"Sand",
		"Gravel",
		"Gold ore",
		"Iron ore",
		"Coal ore",
		"Wood",
		"Leaves",
		"Sponge",
		"Glass",
		"Lapis lazuli ore",
		"Block of lapis lazuli",
		"Dispenser",
		"Sandstone",
		"Note block",
		"Bed",
		"Powered rail",
		"Detector rail",
		"Sticky piston",
		"Cobweb",
		"Tall grass",
		"Shrub",
		"Piston",
		"Piston head",
		"Wool",
		"Moving piston head",
		"Yellow flower",
		"Rose",
		"Brown mushroom",
		"Red mushroom",
		"Block of gold",
		"Block of iron",
		"Double slab",
		"Slab",
		"Bricks",
		"TNT",
		"Bookshelf",
		"Moss stone",
		"Obsidian",
		"Torch",
		"Fire",
		"Monster spawner",
		"Wooden stairs",
		"Chest",
		"Redstone wire",
		"Diamond ore",
		"Block of diamond",
		"Crafting Table",
		"Crops",
		"Farmland",
		"Furnace",
		"Furnace",
		"Sign post",
		"Wooden door",
		"Ladder",
		"Rail",
		"Stone stairs",
		"Wall sign",
		"Lever",
		"Stone pressure plate",
		"Iron door",
		"Wooden pressure plate",
		"Redstone ore",
		"Redstone ore",
		"Redstone torch",
		"Redstone torch",
		"Button",
		"Snow",
		"Ice",
		"Block of snow",
		"Cactus",
		"Clay",
		"Sugar cane",
		"Jukebox",
		"Fence",
		"Pumpkin",
		"Netherrack",
		"Sould sand",
		"Glowstone",
		"Portal",
		"Jack-o-lantern",
		"Cake",
		"Redstone repeater",	// off
		"Redstone repeater",	// on
		"Locked chest",
		"Trapdoor",
		"Hidden silverfish",
		"Stone bricks",
		"Huge brown mushroom",
		"Huge red mushroom",
		"Iron bars",
		"Glass pane",
		"Watermelon",
		"Pumpkin stem",
		"Melon stem",
		"Vines",
		"Gate",
		"Brick stairs",
		"Stone brick stairs",
		"Mycelium",
		"Lily pad",
		"Nether brick",
		"Nether brick fence",
		"Nether brick stairs",
		"Nether wart",
		"Enchantment table",
		"Brewing stand",
		"Cauldron",
		"End portal",
		"End portal frame",
		"End stone",
		"Dragon egg"
	);
	
	"Fluid level" = "level <$level$>";
	
	"Wood types" =
	(
		"leafy",
		"conifer",
		"birch",
		"leafy (buggy)"	// Occurs when converting old worlds.
	);
	
	"Leaf permanent" = "<$type$>, permanent";
	
	"Note block pitch" = "note <$pitch$>";
	
	"Bed parts" =
	(
		"foot",
		"head"
	);
	
	"Powered rail powered" = "powered";
	
	"Tall grass types" =
	(
		"dead shrub",
		"tall grass",
		"fern"
	);
	
	"Piston head sticky" = "sticky";
	
	"Wool" =
	(
		"white",
		"orange",
		"magenta",
		"light blue",
		"yellow",
		"light green",
		"pink",
		"gray",
		"light gray",
		"cyan",
		"purple",
		"blue",
		"brown",
		"dark green",
		"red",
		"black"
	);
	
	"Slab types" =
	(
		"stone",
		"sandstone",
		"wood",
		"cobblestone",
		"brick",
		"stone brick",
		"stone"
	);
	
	"Mob entity IDs" =
	{
		"CaveSpider" = "cave spider";
		"Chicken" = "chicken";
		"Cow" = "cow";
		"Creeper" = "creeper";
		"Enderman" = "enderman";
		"Giant" = "giant";
		"Pig" = "pig";
		"PigZombie" = "pig zombie";
		"Sheep" = "sheep";
		"Silverfish" = "silverfish";
		"Skeleton" = "skeleton";
		"Slime" = "slime";
		"Spider" = "spider";
		"Squid" = "squid";
		"Wolf" = "wolf";
		"Zombie" = "zombie";
	};
	
	"Soil dry" = "dry";
	"Soil wetness" = "wetness <$level$>";
	
	"Furnace burning" = "burning";
	
	"Redstone on" = "on";
	"Redstone off" = "off";
	"Redstone power level" = "power level <$level$>";
	
	"Door top" = "top";
	"Door bottom" = "bottom";
	"Door open" = "open";
	"Door closed" = "closed";
	"Door state" = "<$topOrBottom$>, <$openOrClosed$>";
	
	"Switch on" = "on";
	"Switch off" = "off";
	
	"Sign empty" = "empty";
	
	"Redstone ore glowing" = "glowing";
	
	"Redstone torch on floor" = "<$state$>, standing";
	
	"Jukebox record" = "record <$recordNumber$>";
	
	"Cake slices" = "<$sliceCount$> slices";
	
	"Repeater" = "<$state$>, delay: <$delay$>";
	
	"Silverfish block type" =
	(
		"Stone",
		"Cobblestone",
		"Stone brick"
	);
	
	"Orientation" =
	(
		"north",
		"south",
		"east",
		"west",
		"up",
		"down"
	);
	
	"Orientation alone" = "facing <$orientation$>";
	"Orientation append" = "<$extra$>, facing <$orientation$>";
	
	"Parens" = "<$base$> (<$extra$>)";
	"Quote" = "“<$text$>”";
	"Unknown" = "Unknown";
	"UnknownID" = "Unknown (ID <$blockID$>)";
}