# Stuff found in Xcode projects
*.pbxuser
*.mode1v3
*.perspective
*.perspective3
TemplateIcon.icns
xcuserdata/
project.xcworkspace/

Test data/Output

# Generated on the fly.
MinecraftKit/JAMinecraftBlockIDs.c
