[submodule "MinecraftKit/JAPropertyListAccessors"]
	path = MinecraftKit/JAPropertyListAccessors
	url = https://github.com/JensAyton/JAPropertyListAccessors.git
[submodule "MinecraftKit/JAValueToString"]
	path = MinecraftKit/JAValueToString
	url = https://github.com/JensAyton/JAValueToString.git
