// Build settings shared between MinecraftKit and related tools.

ARCHS							= $(ARCHS_STANDARD_64_BIT)
SDKROOT							= macosx
MACOSX_DEPLOYMENT_TARGET		= 10.7

GCC_VERSION						= com.apple.compilers.llvm.clang.1_0
GCC_C_LANGUAGE_STANDARD			= gnu99
CLANG_ENABLE_OBJC_ARC			= YES
ALWAYS_SEARCH_USER_PATHS		= NO


WARNING_CFLAGS					= -Wall -Wextra -Wno-unused-parameter -Wno-unused-function -Wno-missing-field-initializers -Wformat
GCC_TREAT_WARNINGS_AS_ERRORS	= YES


// MCKIT_ROOT is set to the MinecraftTools repository root in each project’s build settings.
SYMROOT							= $(MCKIT_ROOT)/build

HEADER_SEARCH_PATHS				= $(inherited) $(MCKIT_ROOT)/JANBTSerialization/include
USER_HEADER_SEARCH_PATHS		= $(inherited) $(MCKIT_ROOT)/Shared
