{
	"by ID" =
	(
		"Air",
		"Stone",
		"Grass",
		"Dirt",
		"Cobblestone",
		"Wood",
		"Sapling",
		"Bedrock",
		"Water",
		"Stationary water",
		"Lava",
		"Stationary lava",
		"Sand",
		"Gravel",
		"Gold ore",
		"Iron ore",
		"Coal",
		"Log",
		"Leaves",
		"Sponge",
		"Glass",
		"Lapis lazuli",
		"Block of lapis lazuli",
		"Dispenser",
		"Sandstone",
		"Note block",
		"Bed",
		"Powered rail",
		"Detector rail",
		"Sticky piston",
		"Cobweb",
		"Tall grass",
		"Dead shrubs",
		"Piston",
		"Piston head",
		"Wool",
		"Moving piston head",
		"Yellow flower",
		"Rose",
		"Brown mushroom",
		"Red mushroom",
		"Block of gold",
		"Block of iron",
		"Double slab",
		"Slab",
		"Bricks",
		"TNT",
		"Bookshelf",
		"Moss stone",
		"Obsidian",
		"Torch",
		"Fire",
		"Mob spawner",
		"Wooden stairs",
		"Chest",
		"Redstone wire",
		"Diamond",
		"Block of diamond",
		"Workbench",
		"Crops",
		"Soil",
		"Furnace (cold)",
		"Furnace (burning)",
		"Sign post",
		"Wooden door",
		"Ladder",
		"Rail",
		"Stone stairs",
		"Wall sign",
		"Lever",
		"Stone pressure plate",
		"Iron door",
		"Wooden pressure plate",
		"Redstone ore",
		"Redstone ore (glowing)",
		"Redstone torch (off)",
		"Redstone torch (on)",
		"Button",
		"Snow",
		"Ice",
		"Block of snow",
		"Cactus",
		"Clay",
		"Sugar cane",
		"Jukebox",
		"Fence",
		"Pumpkin",
		"Netherrack",
		"Sould sand",
		"Glowstone",
		"Portal",
		"Jack-o-lantern",
		"Cake",
		"Redstone repeater (off)",
		"Redstone repeater (on)",
		"Locked chest",
		"Trapdoor",
		"Hidden silverfish",
		"Stone brick",
		"Huge brown mushroom",
		"Huge red mushroom",
		"Iron bars",
		"Glass pane",
		"Watermelon",
		"Pumpkin stem",
		"Melon stem",
		"Vines",
		"Gate",
		"Brick stairs",
		"Stone brick stairs"
	);
	
	"Wool" =
	(
		"white",
		"orange",
		"magenta",
		"light blue",
		"yellow",
		"light green",
		"pink",
		"gray",
		"light gray",
		"cyan",
		"purple",
		"blue",
		"brown",
		"dark green",
		"red",
		"black"
	);
	
	"Redstone0" = "off";
	"Redstone" = "level <$level$>";
	
	"Silverfish" =
	(
		"Stone",
		"Cobblestone",
		"Stone brick"
	);
	
	"Sign-empty" = "empty";
	
	"Door-open" = "open";
	"Door-closed" = "closed";
	
	"Switch-on" = "on";
	"Switch-off" = "off";
	
	"Bed-head" = "head";
	"Bed-foot" = "foot";
	
	"Parens" = "<$base$> (<$extra$>)";
	"Quote" = "“<$text$>”";
	"Unknown" = "Unknown";
	"UnknownID" = "Unknown (ID <$blockID$>)";
}